* {
  margin: 0;
  padding: 0;
  font-family: 'barcadebrawl', sans-serif !important;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%;
    }
  }
}

@font-face {
  font-family: 'barcadebrawl';
  src: url('./assets/fonts/BarcadeBrawl.ttf');
}

body {
  background-image: url('./assets/images/bg.png');
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
